In [2]:
import inspect
def count_letter(content, letter):
    """Count the number of times `letter` appears in `content`.

  Args:
    content (str): The string to search.
    letter (str): The letter to search for.

  Returns:
    int

  # Add a section detailing what errors might be raised
  Raises:
    ValueError: If `letter` is not a one-character string.
  """
    if (not isinstance(letter, str)) or len(letter) != 1:
        raise ValueError('`letter` must be a single character string.')
    return len([char for char in content if char == letter])

In [3]:
print(count_letter.__doc__)

Count the number of times `letter` appears in `content`.

  Args:
    content (str): The string to search.
    letter (str): The letter to search for.

  Returns:
    int

  # Add a section detailing what errors might be raised
  Raises:
    ValueError: If `letter` is not a one-character string.

In [4]:
print(inspect.getdoc(count_letter))

Count the number of times `letter` appears in `content`.

Args:
  content (str): The string to search.
  letter (str): The letter to search for.

Returns:
  int

# Add a section detailing what errors might be raised
Raises:
  ValueError: If `letter` is not a one-character string.

In [12]:
def print_docstring(func):
    '''print doc string of function 
    
    Args :
        function (callable) :the function we want to show docstring
    Returns :
        None
    '''
    doc_string = func.__doc__
    max_len =max([len(length) for length in doc_string.split("\n")])
    decoreter ="#"*max_len
    print(f"{decoreter}\n{doc_string}\n{decoreter}")

In [13]:
print_docstring(count_letter)

##########################################################
Count the number of times `letter` appears in `content`.

  Args:
    content (str): The string to search.
    letter (str): The letter to search for.

  Returns:
    int

  # Add a section detailing what errors might be raised
  Raises:
    ValueError: If `letter` is not a one-character string.

##########################################################

In [9]:
def f():
    '''use our print to check
    Args :
        None
    Return :
        None
    '''
    pass

In [10]:
print_docstring(f)

######################
use our print to check
    Args :
        None
    Return :
        None

######################

In [11]:
print_docstring(print_docstring)

###############################################################
print doc string of function

    Args :
        func (function) :the function we want to show docstring
    Returns :
        None

###############################################################

In [16]:
for func in [range , print , map]:
    print(func.__name__ )
    print(print_docstring(func))

range
############################################################################
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
############################################################################
None
print
#######################################################################
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
#######################################################################
None
map
######################################################################
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
######################################################################
None

In [20]:
import numpy as np
print(np.histogram.__doc__)

    Compute the histogram of a set of data.

    Parameters
    ----------
    a : array_like
        Input data. The histogram is computed over the flattened array.
    bins : int or sequence of scalars or str, optional
        If `bins` is an int, it defines the number of equal-width
        bins in the given range (10, by default). If `bins` is a
        sequence, it defines a monotonically increasing array of bin edges,
        including the rightmost edge, allowing for non-uniform bin widths.

        .. versionadded:: 1.11.0

        If `bins` is a string, it defines the method used to calculate the
        optimal bin width, as defined by `histogram_bin_edges`.

    range : (float, float), optional
        The lower and upper range of the bins.  If not provided, range
        is simply ``(a.min(), a.max())``.  Values outside the range are
        ignored. The first element of the range must be less than or
        equal to the second. `range` affects the automatic bin
        computation as well. While bin width is computed to be optimal
        based on the actual data within `range`, the bin count will fill
        the entire range including portions containing no data.
    normed : bool, optional

        .. deprecated:: 1.6.0

        This is equivalent to the `density` argument, but produces incorrect
        results for unequal bin widths. It should not be used.

        .. versionchanged:: 1.15.0
            DeprecationWarnings are actually emitted.

    weights : array_like, optional
        An array of weights, of the same shape as `a`.  Each value in
        `a` only contributes its associated weight towards the bin count
        (instead of 1). If `density` is True, the weights are
        normalized, so that the integral of the density over the range
        remains 1.
    density : bool, optional
        If ``False``, the result will contain the number of samples in
        each bin. If ``True``, the result is the value of the
        probability *density* function at the bin, normalized such that
        the *integral* over the range is 1. Note that the sum of the
        histogram values will not be equal to 1 unless bins of unity
        width are chosen; it is not a probability *mass* function.

        Overrides the ``normed`` keyword if given.

    Returns
    -------
    hist : array
        The values of the histogram. See `density` and `weights` for a
        description of the possible semantics.
    bin_edges : array of dtype float
        Return the bin edges ``(length(hist)+1)``.


    See Also
    --------
    histogramdd, bincount, searchsorted, digitize, histogram_bin_edges

    Notes
    -----
    All but the last (righthand-most) bin is half-open.  In other words,
    if `bins` is::

      [1, 2, 3, 4]

    then the first bin is ``[1, 2)`` (including 1, but excluding 2) and
    the second ``[2, 3)``.  The last bin, however, is ``[3, 4]``, which
    *includes* 4.


    Examples
    --------
    >>> np.histogram([1, 2, 1], bins=[0, 1, 2, 3])
    (array([0, 2, 1]), array([0, 1, 2, 3]))
    >>> np.histogram(np.arange(4), bins=np.arange(5), density=True)
    (array([0.25, 0.25, 0.25, 0.25]), array([0, 1, 2, 3, 4]))
    >>> np.histogram([[1, 2, 1], [1, 0, 1]], bins=[0,1,2,3])
    (array([1, 4, 1]), array([0, 1, 2, 3]))

    >>> a = np.arange(5)
    >>> hist, bin_edges = np.histogram(a, density=True)
    >>> hist
    array([0.5, 0. , 0.5, 0. , 0. , 0.5, 0. , 0.5, 0. , 0.5])
    >>> hist.sum()
    2.4999999999999996
    >>> np.sum(hist * np.diff(bin_edges))
    1.0

    .. versionadded:: 1.11.0

    Automated Bin Selection Methods example, using 2 peak random data
    with 2000 points:

    >>> import matplotlib.pyplot as plt
    >>> rng = np.random.RandomState(10)  # deterministic random data
    >>> a = np.hstack((rng.normal(size=1000),
    ...                rng.normal(loc=5, scale=2, size=1000)))
    >>> _ = plt.hist(a, bins='auto')  # arguments are passed to np.histogram
    >>> plt.title("Histogram with 'auto' bins")
    Text(0.5, 1.0, "Histogram with 'auto' bins")
    >>> plt.show()

In [ ]:
#dry

In [13]:
def median(values):
      """Get the median of a sorted list of values

      Args:
        values (iterable of float): A list of numbers

      Returns:
        float
      """
      # Write the median() function
      length = len(values)
      values.sort()
      if length%2==0:
        median = (values[length//2]+values[(length//2)+1])/2
      else:
        median = values[(length+1)//2]
      return median

In [14]:
median([7 , 8 , 6 , 1 ])

7.5

In [19]:
def foo(x):
    x[0]=14
my_list =[1 , 4 , 5]
foo(my_list)
print(my_list)

[14, 4, 5]

In [25]:
def bar(x):
    x = x+10
var = 15
bar(var)
print(var)

15

In [21]:
b =[1 , 2 , 4]
c =b
print(c)

[1, 2, 4]

In [22]:
c.append(10)
b.append(20)
print(c)
print(b)

[1, 2, 4, 10, 20]
[1, 2, 4, 10, 20]

In [26]:
def foo(x =[]):
    x.append(1)
    return x

In [27]:
foo()

[1]

In [28]:
foo()

[1, 1]

In [29]:
foo()

[1, 1, 1]

In [30]:
#Mutable default arguments are dangerous!
def bar(x =None):
    if x==None :
        x =[]
    x.append(1)
    return x

In [31]:
bar()

[1]

In [32]:
bar()

[1]

In [33]:
bar([5 , 6])

[5, 6, 1]

In [48]:
def boo(x=None):
    if type(x)==list:
        x.append(1)
    else :
        return [1]
    return x

In [49]:
boo()

[1]

In [50]:
boo()

[1]

In [51]:
boo([4 , 5])

[4, 5, 1]

## Mutable or immutable?
The following function adds a mapping between a string and the lowercase version of that string to a dictionary. What do you expect the values of d and s to be after the function is called?

In [52]:
def store_lower(_dict, _string):
  """Add a mapping between `_string` and a lowercased version of `_string` to `_dict`

  Args:
    _dict (dict): The dictionary to update.
    _string (str): The string to add.
  """
  orig_string = _string
  _string = _string.lower()
  _dict[orig_string] = _string

d = {}
s = 'Hello'

store_lower(d, s)

In [53]:
d #mutable

{'Hello': 'hello'}

In [55]:
s #imutable

'Hello'

In [57]:
#DataFrame is mutable variable

### Best practice for default arguments
One of your co-workers (who obviously didn't take this course) has written this function for adding a column to a pandas DataFrame. Unfortunately, they used a mutable variable as a default argument value! Please show them a better way to do this so that they don't get unexpected behavior.

In [70]:
#it is dangerous
import pandas as pd
def add_column(values, df=pd.DataFrame()):
      """Add a column of `values` to a DataFrame `df`.
      The column will be named "col_<n>" where "n" is
      the numerical index of the column.

      Args:
        values (iterable): The values of the new column
        df (DataFrame, optional): The DataFrame to update.
          If no DataFrame is passed, one is created by default.

      Returns:
        DataFrame
      """
      df['col_{}'.format(len(df.columns))] = values
      return df

In [71]:
add_column([1 , 4  , 7])

   col_0
0      1
1      4
2      7

In [72]:
add_column([8 , 8 , 5])

   col_0  col_1
0      1      8
1      4      8
2      7      5

<html>
 <ol>
<li>Change the default value of df to an immutable value to follow best practices.<\li>
<li>Update the code of the function so that a new DataFrame is created if the caller didn't pass one.<\li>
    </ol>
</html>

In [75]:
# Use an immutable variable for the default argument
def better_add_column(values, df=None):
  """Add a column of `values` to a DataFrame `df`.
  The column will be named "col_<n>" where "n" is
  the numerical index of the column.

  Args:
    values (iterable): The values of the new column
    df (DataFrame, optional): The DataFrame to update.
      If no DataFrame is passed, one is created by default.

  Returns:
    DataFrame
  """
  # Update the function to create a default DataFrame
  if  df is None:
    df = pd.DataFrame()
  df['col_{}'.format(len(df.columns))] = values
  return df

In [76]:
better_add_column([7 , 8 , 5])

   col_0
0      7
1      8
2      5

In [77]:
better_add_column([9 , 10  ,100])

   col_0
0      9
1     10
2    100